	prover.iml
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__com_beust_jcommander_1_27.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__org_beanshell_bsh_2_0b4.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_json_json_20160212.xml
.idea/libraries/Maven__org_testng_testng_6_8.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_6.xml
target/
example.png
graph1.pdf
graph1.png
graph1.ps
temp.dot
temp.gz
graph.pdf
proof_2.pdf
3.pdf
proof_1.pdf
.idea/vcs.xml
.idea/libraries/Maven__com_eclipsesource_j2v8_j2v8_linux_x86_64_3_0_2.xml
.idea/libraries/Maven__com_eclipsesource_j2v8_j2v8_macosx_x86_64_3_0_2.xml
.idea/libraries/Maven__com_eclipsesource_j2v8_j2v8_win32_x86_64_3_0_2.xml
.idea/libraries/Maven__com_kitfox_svg_svg_salamander_1_0.xml
.idea/libraries/Maven__guru_nidi_graphviz_java_0_0_2.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_4.xml
.idea/libraries/Maven__org_armedbear_lisp_abcl_1_0_1.xml
.idea/libraries/Maven__org_clojure_clojure_1_8_0.xml
.idea/libraries/Maven__us_bpsm_edn_java_0_4_6.xml
